<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Controllers/Client">
            <directory suffix="Test.php">./tests/Controllers/Client</directory>
        </testsuite>
        <testsuite name="Controllers/Provider">
            <directory suffix="Test.php">./tests/Controllers/Provider</directory>
        </testsuite>
        <testsuite name="Controllers/Product">
            <directory suffix="Test.php">./tests/Controllers/Product</directory>
        </testsuite>
        <testsuite name="Controllers/Sale">
            <directory suffix="Test.php">./tests/Controllers/Sale</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
